@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

header, footer {
	text-align:center; font-family: 'Yanone Kaffeesatz', sans-serif;
}

a:visited {
	color:Red;
}

a:hover {
	font-weight:Bold;
}

a:active {
	text-decoration:none;
}

#BT {
	width:40%;
	margin-left:auto;
	margin-right:auto;
}

.td1 {
	text-align:left;
}

th {
	font-size: 125%; text-decoration: Underline; text-align:center;
}
