@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

li {
	font-style: italic;
}

table {
	margin-left:auto;
	margin-right:auto;
}

ul {
	margin-left:120px;
}

p {
	text-align: center;
}
.font {
	font-family: 'Yanone Kaffeesatz', sans-serif; font-weight: Bold; font-size: 150%;
}

div {
	margin-left: auto;
	margin-right: auto;
	width:391px; 
	height:400px; 
	background-image:url(poison.jpg);
}
