@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

li {
	font-style: italic;
}

td {
	font-style: italic;
	text-align:center;
}

th {
	text-align:center;
	background-color: grey;
}

caption {
	text-align:center;
}

p {
	text-align: center;
}
.font {
	font-family: 'Yanone Kaffeesatz', sans-serif; font-weight: Bold; font-size: 150%;
}

a {
	text-decoration: none;
	color: Black;
}

a:hover {
	background-color: Green;
	text-decoration: Underline;
}
